@import '../variables';

.tr-edit {
    position: absolute;
    border: 1px solid $darkGrey;
    border-top: none;
    background-color: gold !important;
    color: $darkGrey;
    border-radius: 2px;
    width: 100%;

    td {

        &:first-child {
            display: none;
        }
    }

    input[type=text] {
        padding: 0px 1px 0px 6px;
    }

    &:hover {

        &::after {
            content: none !important;
        }
    }
}