.tr-edit {
  position: absolute;
  border: 1px solid rgb(37, 49, 42);
  border-top: none;
  background-color: gold !important;
  color: rgb(37, 49, 42);
  border-radius: 2px;
  width: 100%;
}
.tr-edit td:first-child {
  display: none;
}
.tr-edit input[type=text] {
  padding: 0px 1px 0px 6px;
}
.tr-edit:hover::after {
  content: none !important;
}/*# sourceMappingURL=style.css.map */