@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html, body {
  width: 100%;
  margin: 0;
}

html {
  font-size: 14px;
  font-family: Lato, sans-serif;
  height: 100%;
  color: rgb(223, 223, 233);
}

body {
  background-color: rgb(72, 66, 88);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: rgb(77, 92, 122);
  border-radius: 8px;
  border: 1px solid rgb(37, 49, 42);
  box-shadow: 0px 0px 8px rgb(223, 223, 233);
  width: calc(100% - 40px);
  max-width: 1920px;
  max-height: calc(100% - 80px);
  margin: 40px auto;
  padding: 20px 8px;
  box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */