@import '../variables';

.tr-add {

    &:hover { 
        border: 1px solid lightgreen;

        td {
            border-width: 2px 1px;
            border-top-color: lightgreen !important;
            border-bottom-color: lightgreen !important;

            &:first-child {
                border-left: 1px solid lightgreen !important;
            }

            &:last-child {
                border-right: 1px solid lightgreen !important;
            }
        }
    }

    &::after {
        content: none !important;
    }

    td {

        button[type=submit] {
            display: none;
        }

        input[type=text] {
            border-radius: 4px;
            padding: 1px 0px 1px 6px;

            &:focus {
                border: 4px solid $blue;
            }
        }
    }
}