.tr-add:hover {
  border: 1px solid lightgreen;
}
.tr-add:hover td {
  border-width: 2px 1px;
  border-top-color: lightgreen !important;
  border-bottom-color: lightgreen !important;
}
.tr-add:hover td:first-child {
  border-left: 1px solid lightgreen !important;
}
.tr-add:hover td:last-child {
  border-right: 1px solid lightgreen !important;
}
.tr-add::after {
  content: none !important;
}
.tr-add td button[type=submit] {
  display: none;
}
.tr-add td input[type=text] {
  border-radius: 4px;
  padding: 1px 0px 1px 6px;
}
.tr-add td input[type=text]:focus {
  border: 4px solid rgb(76, 111, 211);
}/*# sourceMappingURL=style.css.map */