@import '../variables';

td {

    button[type=submit] {
        display: none;
    }

    input[type=text] {
        border-radius: 4px;
        padding: 1px 0px 1px 6px;

        &:focus {
            border: 4px solid $blue;
        }
    }
}