td button[type=submit] {
  display: none;
}
td input[type=text] {
  border-radius: 4px;
  padding: 1px 0px 1px 6px;
}
td input[type=text]:focus {
  border: 4px solid rgb(76, 111, 211);
}/*# sourceMappingURL=style.css.map */