$white233: rgb(223, 223, 233);
$darkGrey: rgb(37, 49, 42);
$blue: rgb(76, 111, 211);
$lightblue: rgb(136, 165, 240);
$backgroundColor: rgb(77, 92, 122);

@mixin wh($w, $h: $w) {
    width: $w;
    height: $h;
}