.btn-load {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgb(37, 49, 42);
  color: rgb(223, 223, 233);
  top: 0%;
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gold;
}
.btn-load:hover {
  box-shadow: inset -2px -2px 6px gold;
}
.btn-load:active {
  box-shadow: inset 2px 2px 6px black;
}

.table-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(77, 92, 122);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -8px 0px 8px rgb(77, 92, 122), 0px 0px 8px 8px rgb(77, 92, 122), inset 0px -12px 12px -16px rgb(37, 49, 42);
}
.table-panel__stats {
  margin-left: 12px;
}
.table-panel__amount {
  margin-left: 8px;
}
.table-panel__options {
  margin-right: 12px;
}

.btn-add, .btn-del:not(:disabled) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid rgb(37, 49, 42);
  border-bottom: none;
  background-color: rgb(136, 165, 240);
  color: rgb(37, 49, 42);
  font-weight: 700;
  cursor: pointer;
}
.btn-add:first-child, .btn-del:first-child:not(:disabled) {
  margin-right: 16px;
}
.btn-add:hover, .btn-del:hover:not(:disabled) {
  box-shadow: inset 2px 2px 4px rgb(223, 223, 233);
  border-color: rgb(223, 223, 233);
  background-color: rgb(76, 111, 211);
  color: white;
  font-weight: 500;
}
.btn-add:hover .text-sign, .btn-del:hover:not(:disabled) .text-sign {
  background-color: rgb(37, 49, 42);
}
.btn-add:active, .btn-del:active:not(:disabled) {
  box-shadow: inset -2px 2px 4px rgb(37, 49, 42);
  border-color: rgb(37, 49, 42);
}

.btn-del {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: lightslategray;
  color: black;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 4px 4px 0px 0px;
}
.text-sign {
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(223, 223, 233);
  border-radius: 0px 0px 4px 4px;
  padding: 0px 2px;
  vertical-align: super;
}

.table-main {
  border-spacing: 0;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 12px rgb(37, 49, 42);
}
.table-main thead {
  background-color: rgb(76, 111, 211);
  position: sticky;
  top: 25.44px;
  z-index: 1;
}
.table-main thead th {
  border: 1px solid rgb(223, 223, 233);
  border-bottom-width: 2px;
}
.table-main thead th:first-child {
  border-top-left-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
}
.table-main thead th:last-child {
  border-top-right-radius: 4px;
}
.table-main tbody {
  position: relative;
  background-color: rgb(223, 223, 233);
  color: black;
}
.table-main tbody tr:nth-child(even) {
  background-color: rgb(136, 165, 240);
}
.table-main tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}
.table-main tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
.table-main tbody tr:hover td {
  border-width: 2px 1px;
  border-top-color: gold;
  border-bottom-color: gold;
}
.table-main tbody tr:hover td:first-child {
  border-left: 1px solid gold;
}
.table-main tbody tr:hover td:last-child {
  border-right: 1px solid gold;
}
.table-main tbody tr:hover::after {
  content: "Click to EDIT";
  text-decoration: underline;
  box-shadow: -2px 0px 8px rgb(37, 49, 42), inset -2px 0px 4px rgb(223, 223, 233);
  position: absolute;
  z-index: 2;
  background-color: gold;
  border-width: 1px 1px 1px 0px;
  border-color: rgb(37, 49, 42);
  padding: 2px 4px 2px 2px;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(37, 49, 42);
  border-radius: 0px 4px 4px 0px;
}
.table-main td {
  border: 1px solid rgb(37, 49, 42);
}/*# sourceMappingURL=style.css.map */