@import '../variables';

.btn-load {
    appearance: none;
    background-color: $darkGrey;
    color: $white233;
    top: 0%;
    padding: 4px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid gold;

    &:hover {
        box-shadow: inset -2px -2px 6px gold;
    }

    &:active {
        box-shadow: inset 2px 2px 6px black;
    }
}

.table-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: $backgroundColor;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px -8px 0px 8px $backgroundColor,
        0px 0px 8px 8px $backgroundColor,
        inset 0px -12px 12px -16px $darkGrey;

    &__stats {
        margin-left: 12px;
    }

    &__amount {
        margin-left: 8px;
    }

    &__options {
        margin-right: 12px;
    }
}

.btn-add {
    appearance: none;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid $darkGrey;
    border-bottom: none;
    background-color: $lightblue;
    color: $darkGrey;
    font-weight: 700;
    cursor: pointer;

    &:first-child {
        margin-right: 16px;
    }

    &:hover {
        box-shadow: inset 2px 2px 4px $white233;
        border-color: $white233;
        background-color: $blue;
        color: white;
        font-weight: 500;

        .text-sign {
            background-color: $darkGrey;
        }
    }

    &:active {
        box-shadow: inset -2px 2px 4px $darkGrey;
        border-color: $darkGrey;
    }
}

.btn-del {
    appearance: none;
    background-color: lightslategray;
    color: black;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;

    &:not(:disabled) {
        @extend .btn-add;
    }
}

.text-sign {
    font-size: 15px;
    font-weight: 600;
    background-color: $white233;
    border-radius: 0px 0px 4px 4px;
    padding: 0px 2px;
    vertical-align: super;
}

.table-main {
    border-spacing: 0;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 0px 12px $darkGrey;

    thead {
        background-color: $blue;
        position: sticky;
        top: 25.44px;
        z-index: 1;

        th {
            border: 1px solid $white233;
            border-bottom-width: 2px;

            &:first-child {
                border-top-left-radius: 4px;
                width: fit-content;
            }

            &:last-child {
                border-top-right-radius: 4px;
            }
        }
    }

    tbody {
        position: relative;
        background-color: $white233;
        color: black;

        tr {

            &:nth-child(even) {
                background-color: $lightblue;
            }

            &:last-child {
                td:first-child {
                    border-bottom-left-radius: 4px;
                }

                td:last-child {
                    border-bottom-right-radius: 4px;
                }
            }

            &:hover {
                td {
                    border-width: 2px 1px;
                    border-top-color: gold;
                    border-bottom-color: gold;

                    &:first-child {
                        border-left: 1px solid gold;
                    }

                    &:last-child {
                        border-right: 1px solid gold;
                    }
                }

                &::after {
                    content: 'Click to EDIT';
                    text-decoration: underline;
                    box-shadow: -2px 0px 8px $darkGrey, inset -2px 0px 4px $white233;
                    position: absolute;
                    z-index: 2;
                    background-color: gold;
                    border-width: 1px 1px 1px 0px;
                    border-color: $darkGrey;
                    padding: 2px 4px 2px 2px;
                    width: fit-content;
                    color: $darkGrey;
                    border-radius: 0px 4px 4px 0px;
                }
            }
        }
    }

    td {
        border: 1px solid $darkGrey;
    }
}